/* 메인 컨텐츠 main css */

main {
    width:770px;
    float:right;
}

main #photo {
    height:250px;
    position:relative;
    margin:10px 0 0 0;
}

#input_text{
    width:100px;
    height:50px;
    border:solid 1px red;
}

main photo#input {
    display:inline;
}